<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title> {{ title }} </title>
  </head>
  <!-- [END head_html] -->
  <body>
  
   <p align="right">
     <a href="/" >HomePage</a> &nbsp;
     <a href="/tags" >Tags</a> &nbsp;
     {% if current_user %}
       <a href="/create" >Add Question</a> &nbsp; 
       Welcome, {{ current_user }} <a href="{{ signUrl|safe }}">Sign out</a>
     {% else %}
       <a href="{{ signUrl|safe }}">Sign in</a>
     {% endif %}
   </p>

   <hr style="border:0;border-bottom:2px solid #000;background:#999"/>
   <br />
   <div  style="margin-left:200px;margin-right:200px;">
    {% for image in images %}
     {% if admin %}<form action="{{ ('/delete?imgid=' + image.key().__str__()) |safe}}" method="POST">
     <input type="image" name="delete"  src="stylesheets/img/delete.png" width="16" height="16">&nbsp;
      </form>{% endif %}
     <a href="{{ ('/img/'+image.key().__str__()) | safe }}"> <img class="preview" src="{{ ('/img/'+image.key().__str__()) |safe }}" >ImageLink&nbsp;</a> 

    {% endfor %}
    <br />
    <br />
    <hr style="border:0;border-bottom:2px solid #000;background:#999"/>
     {% if current_user %}
    <form action="{{ uploadUrl | safe }}" method="POST" enctype="multipart/form-data">
    Upload Images: <input type="file" style="font-size:18px" name="image"  multiple><br> 
    <input type="submit" name="submit" style="height:30px" value="Upload">
    </form>
    {% endif %}
    <p class="textCenter">&copy;2014&nbsp; Wuping.Lei</p>
  </div>
  </body>
</html>
{% endautoescape %}
