<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title> {{ title }} </title>
  </head>
  <!-- [END head_html] -->
  <body>
  
   <p align="right">
     <a href="/" >HomePage</a> &nbsp;
     {% if current_user %}
       <a href="/create" >Add Question</a> &nbsp; 
       Welcome, {{ current_user }} <a href="{{ signUrl|safe }}">Sign out</a>
     {% else %}
       <a href="{{ signUrl|safe }}">Sign in</a>
     {% endif %}
   </p>

   <hr style="border:0;border-bottom:2px solid #000;background:#999"/>
   <br />
   <div style="margin-left:200px;margin-right:200px;">
    {% for question in questions %}
      {% if question.handle %}
        <a href="{{ question.qpermalink |safe }}" >{{ question.handle }}</a>
      {% else %}
        <a href="{{ question.qpermalink |safe }}" >Question {{ question.key.id() }}</a> 
      {% endif %}
      <blockquote><pre>{{ question.content[:500]|safe }}</pre></blockquote>
      <hr style="border:0;border-bottom:1px dashed #ccc;background:#999"/>
    {% endfor %}
    
    {% if nextPageUrl %}
      <a href="{{ nextPageUrl }}" >Next Page</a>
    {% endif %}
    <br />
    <p align="middle">&copy;2014&nbsp; Wuping.Lei</p>
  </div>
  </body>
</html>
{% endautoescape %}
