<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title> {{ title }} </title>
  </head>
  <!-- [END head_html] -->
  <body>
  <div style="margin-left:200px;margin-right:200px;">
   <p align="right">
     {% if current_user %}
       <a href="/create" >Add Question</a> &nbsp;&nbsp; 
     {% endif %}
     <a href="{{ url|safe }}">{{ url_linktext }}</a>
   </p>

   <hr style="border:0;border-bottom:1px dashed #eee;background:#999"/>
   
    {% for question in questions %}
      {% if question.handle %}
        <a href="{{ question.qpermalink |safe }}" >{{ question.handle }}</a> <br/>
      {% else %}
        <a href="{{ question.qpermalink |safe }}" >{{ question.key.id() }}</a> <br/>
      {% endif %}
      <blockquote>{{ question.content[:500] }}</blockquote>
      <hr style="border:0;border-bottom:1px dashed #eee;background:#999"/>
    {% endfor %}

    {% if url_linktext != 'Login' %}
    <form action="/create" method="post" accept-charset="utf-8">
      <div><textarea name="qhandle" rows="3" cols="60" placeholder="Type your Question Title here..." ></textarea></div>
      <div><textarea name="qcontent" rows="10" cols="60" placeholder="Type your Question here..." ></textarea></div>
      <div><input type="submit" value="Add Question"></div>
    </form>
    <hr style="border:0;border-bottom:1px dashed #eee;background:#999"/>   
    {% endif %}
    
    <p align="middle">&copy;2014&nbsp; Wuping.Lei</p>
  </div>
  </body>
</html>
{% endautoescape %}
