<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title> {{ title }} </title>
  </head>
  <!-- [END head_html] -->
  <body>
  
   <p align="right">
     {% if current_user %}
       <a href="/create" >Add Question</a> &nbsp;&nbsp; 
       Welcome, {{ current_user }} <a href="{{ url|safe }}">Sign out</a>
     {% else %}
       <a href="{{ url|safe }}">Sign in</a>
     {% endif %}
   </p>

   <hr style="border:0;border-bottom:2px solid #ccc;background:#999"/>
   <div style="margin-left:200px;margin-right:200px;">
    {% for question in questions %}
      {% if question.handle %}
        <a href="{{ question.qpermalink |safe }}" >{{ question.handle }}</a> <br/>
      {% else %}
        <a href="{{ question.qpermalink |safe }}" >{{ question.key.id() }}</a> <br/>
      {% endif %}
      <blockquote>{{ question.content[:500] }}</blockquote>
      <hr style="border:0;border-bottom:1px dashed #ccc;background:#999"/>
    {% endfor %}
    
    <p align="middle">&copy;2014&nbsp; Wuping.Lei</p>
  </div>
  </body>
</html>
{% endautoescape %}
