<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title> {{ title }} </title>
  </head>
  <!-- [END head_html] -->
  <body>
    <p style="text-align:right">
     <a href="/" >HomePage</a> &nbsp;
     <a href="/tags" target="_blank" >Tags</a> &nbsp;
      <a href="/image" target="_blank" >Images</a> &nbsp;
     {% if current_user %}
     <a href="/create" >Add Question</a> &nbsp;
       Welcome, {{ current_user }} <a href="{{ signUrl|safe }}">Sign out</a>
     {% else %}
       <a href="{{ signUrl|safe }}">Sign in</a>
     {% endif %}
     </p>
   <hr style="border:0;border-bottom:2px solid #000;background:#999"/>
   <br />
    <div style="margin-left:300px;margin-right:300px;">
    {% if question.handle %}
       <h4> {{ question.handle |safe }}{% if not edit %}
       <a href="{{('/rss?qid=' + question.key.urlsafe()) | safe}}">
       <img src="stylesheets/img/rss.gif" width="36" height="16"></a>{% endif %} </h4>
      {% else %}
       <h4> Question {{ question.key.id() }}{% if not edit %}
       <a href="{{('/rss?qid=' + question.key.urlsafe()) | safe}}">
       <img src="stylesheets/img/rss.gif" width="36" height="16"></a>{% endif %} </h4>{% endif %}
      

    <form action="{{ ('/vote?qid=' + question.key.urlsafe()) |safe }}" method="post" accept-charset="utf-8">
    <blockquote><pre><font size="4">{{ question.content| replink |safe }}</font></pre></blockquote>
    <p style="text-align:right"><font size="2"> {{ question.voteResult }} &nbsp;</font> 
      <input type="submit" value="Up"  name="value" >
      <input type="submit" value="Down" name="value" >
    </p>  
    </form>
    <div >
    <p style="float:left">
    {% if question.tags %}
    Tags:
    {% endif %}
        {% for tag in question.tags %}<em><a href="{{ ('/list?tag=' + (tag | urlquote)) | safe}}" >{{ tag |safe }}</a></em>  &nbsp;
        {% endfor %}
    </p> 
    {% if admin %}<form action="{{ ('/delete?qid=' + question.key.urlsafe()) |safe}}" method="POST">{% endif %}
    <p style="float:right">
      <font size="1">
        created {{ question.createTime.strftime("%b %d '%y at %H:%M:%S") }}; 
        {% if question.author == current_user %}
        <a href="{{ ('/create?qid=' + question.key.urlsafe())|safe }}">edited</a>{% else %}
        edited{% endif %}{{ question.modifyTime.strftime("%b %d '%y at %H:%M:%S") }}
       </font>
       {% if admin %}<input type="image" name="delete"  src="stylesheets/img/delete.png" width="16" height="16">&nbsp;
      {% endif %}</p>{% if admin %}</form>{% endif %}
    </div>
    <div style="clear: both;"></div>
   <hr style="border:0;border-bottom:2px dotted  #000;background:#999"/>

    {% if not edit %}
    {% for answer in answers %}
     <form action="{{ ('/vote?aid=' + answer.key.urlsafe()) |safe }}" method="post" accept-charset="utf-8">
      <blockquote><pre><font size="4">{{ answer.content|replink |safe }}</font></pre></blockquote>
      <p style="text-align:right"><font size="2"> {{ answer.voteResult }} &nbsp; </font> 
        <input type="submit" value="Up"  name="value" >
        <input type="submit" value="Down" name="value" >
      </p>  
      </form>
      {% if admin %}<form action="{{ ('/delete?aid=' + answer.key.urlsafe())  |safe}}" method="POST">{% endif %}
      <p style="text-align:right">
        <font size="1">
          created {{ answer.createTime.strftime("%b %d '%y at %H:%M:%S") }};
          {% if answer.author == current_user %}
          <a href="{{ ('/view?aid=' + answer.key.urlsafe())|safe }}">edited</a>
          {% else %}
          edited
          {% endif %} 
          {{ answer.modifyTime.strftime("%b %d '%y at %H:%M:%S") }} 
        </font>
         {% if admin %}<input type="image" name="delete"  src="stylesheets/img/delete.png" width="16" height="16">&nbsp;
      {% endif %}</p>{% if admin %}</form>{% endif %}
      <hr style="border:0;border-bottom:1px dashed #ccc;background:#999"/>
    {% endfor %}
    {% endif %}

    {% if current_user %}
    <form action="{{ uploadUrl|safe }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
      <h4> What is your Answer? </h4>
      {% if edit %}
      <div><textarea name="acontent" rows="10" cols="80" placeholder="Type your Answer here..." >{{ answers.content}}</textarea></div>
      {% else %}
      <div><textarea name="acontent" rows="10" cols="80" placeholder="Type your Answer here..." ></textarea></div>
      {% endif %}
      <br />
      <div>
        <input type="submit" style="height:30px" value="Submit Answer"> &nbsp;
        {% if edit %}
        <input type="button" value="Cancel" style="height:30px" onClick="location.href='{{ ('/view?qid=' + question.key.urlsafe()) |safe  }}'">
        {% endif %}
        <a href="/image"  target="_blank">UploadImages</a> &nbsp;
      </div>
    </form>
    {% endif %}     
    <br />
    <p class="textCenter">&copy;2014&nbsp; Wuping.Lei</p>
  </div>
  </body>
</html>
{% endautoescape %}
