<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title> {{ title }} </title>
  </head>
  <!-- [END head_html] -->
  <body>
    <p style="text-align:right">
     <a href="/" >HomePage</a> &nbsp;
     {% if current_user %}
       Welcome, {{ current_user }} <a href="{{ signUrl|safe }}">Sign out</a>
     {% else %}
       <a href="{{ signUrl|safe }}">Sign in</a>
     {% endif %}
     </p>
   <hr style="border:0;border-bottom:2px solid #000;background:#999"/>
   <br />
    <div style="margin-left:300px;margin-right:300px;">
    {% if question.handle %}
        <h4> {{ question.handle |safe }} </h4>
      {% else %}
        <h4> Question {{ question.key.id() }} </h4> 
    {% endif %}
    <form action="{{ ('/vote?qid=' + question.key.urlsafe()) |safe }}" method="post" accept-charset="utf-8">
    <blockquote><font size="4"><pre>{{ question.content| replink |safe }}</pre></font></blockquote>
    <p style="text-align:right"><font size="2"> {{ question.voteResult }} &nbsp;</font> 
      <input type="submit" value="Up"  name="value" >
      <input type="submit" value="Down" name="value" >
    </p>  
    </form>
    <div >
    <p style="float:left">
    Tags:
        {% for tag in question.tags %}<em><a href="{{ ('/list?tag=' + (tag | urlquote)) | safe}}" >{{ tag |safe }}</a></em>  &nbsp;
        {% endfor %}
    </p> 
    <p style="float:right">
      <font size="1">
        created {{ question.createTime.strftime("%b %d '%y at %H:%M:%S") }}; 
        {% if question.author == current_user %}
        <a href="{{ ('/create?qid=' + question.key.urlsafe())|safe }}">edited</a>
        {% else %}
        edited
        {% endif %}
        {{ question.modifyTime.strftime("%b %d '%y at %H:%M:%S") }}
       </font>
    </p>
    </div>
    <div style="clear: both;"></div>
   <hr style="border:0;border-bottom:2px dotted  #000;background:#999"/>

    {% if not edit %}
    {% for answer in answers %}
     <form action="{{ ('/vote?qid=' + question.key.urlsafe() + '&aid=' + answer.key.urlsafe()) |safe }}" method="post" accept-charset="utf-8">
      <blockquote><font size="4"><pre>{{ answer.content|replink |safe }}</pre></font></blockquote>
      <p style="text-align:right"><font size="2"> {{ answer.voteResult }} &nbsp; </font> 
        <input type="submit" value="Up"  name="value" >
        <input type="submit" value="Down" name="value" >
      </p>  
      </form>
      <p style="text-align:right">
        <font size="1">
          created {{ answer.createTime.strftime("%b %d '%y at %H:%M:%S") }};
          {% if answer.author == current_user %}
          <a href="{{ ('/view?aid=' + answer.key.urlsafe())|safe }}">edited</a>
          {% else %}
          edited
          {% endif %} 
          {{ answer.modifyTime.strftime("%b %d '%y at %H:%M:%S") }} 
        </font>
      </p>
      <hr style="border:0;border-bottom:1px dashed #ccc;background:#999"/>
    {% endfor %}
    {% endif %}

    {% if current_user %}
    <form action="{{ answerUrl|safe }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
      <h4> What is your Answer? </h4>
      {% if edit %}
      <div><textarea name="acontent" rows="10" cols="80" placeholder="Type your Answer here..." >{{ answers.content | safe }}</textarea></div>
      {% else %}
      <div><textarea name="acontent" rows="10" cols="80" placeholder="Type your Answer here..." ></textarea></div>
      {% endif %}
      <br />
      <div>
        <input type="submit" style="height:30px" value="Submit Answer">
        {% if edit %}
        <input type="button" value="Cancel" style="height:30px" onClick="location.href='{{ ('/view?qid=' + question.key.urlsafe()) |safe  }}'">
        {% endif %}
      </div>
    </form>
    {% endif %}     
    <br />
    <p class="textCenter">&copy;2014&nbsp; Wuping.Lei</p>
  </div>
  </body>
</html>
{% endautoescape %}
